/* Macrostruttura */
body{
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    padding: 20px 0;
    background-color: #f8f9f9;
}

.upper{
    display: flex;
}

.side{
    width: 160px;
    height: calc(100vh - 80px);
}

main{
    width: calc(100% - 160px);
    height: calc(100vh - 80px);
    overflow: auto;
}

@media screen and (max-width:992px) {
    .side{
        width: 80px;
    }

    main{
        width: calc(100% - 80px);
    }
    
}
/* Fine macrostruttura */

/* Header */

/* search bar */


.search-bar{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    background-color: #e7e6e3;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.search-bar input{
    background: transparent;
    flex-grow: 1;
    font-size: 16px;
    outline: none;
    border: 0;
}

.search-bar button{
    border: 0;
    background-color: #e7e6e3;
    padding: 0 10px;
}
/* fine search bar */
.top-nav{
    display: flex;
    height: 40px;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    padding: 0 20px;
}

.logo{
    height: 40px;
    padding-right: 20px;
}

.logo img{
    max-height: 100%;
}

.icon{
    display: flex;
    gap: 20px;
    font-size: 18px;
    padding-left: 20px;
}

.icon-desktop{
    gap: 20px;
}

.icon a{
    text-decoration: none;
    color: #5c5753;
}

.fa-bell{
    color: #ff8600;
}

/* side */

.side{
    background-color:#002436;
    background-image: url(/img/sidebar-bg.png);
}

.side-background{
    width: 100%;
}

.side-background img{
    max-width: 100%;
}

.main-nav{
    height: 100%;
}

.main-nav li{
    width: 100%;
    text-align: center;
}

.main-nav a{
    color: white;
    font-size: 18px;
   
}

.main-nav a:hover{
    background-color: #5c5753;
}

/* inizio parte principale */

.main-header{
    background-color: #0071e6;
}

.titolo{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

.fa-angles-right{
    color: white;
    font-size: 14px;
}

.boolean{
    font-size: 12px;
    color: white;
    border-radius: 20px;
    padding: 4px 8px;
    background-color: rgba(0, 0, 0, 0.3);
}

.studenti{
    color: white;
}

.studenti h3{
    margin-top: 14px;
}

.nuovo{
    color: white;
    margin-right: 10px;
}

.offcanvas.offcanvas-end{
    width: 100%;
}

@media screen and (min-width:992px) {
    .offcanvas.offcanvas-end{
        width: 50%;
    }
}

/* sezione classi */

.classi-title{
    background-color: #f7f7f6;
    border-bottom: 2px solid #cfccc6;
    padding: 8px;

}

.classi-title span{
    font-size: 24px;
    padding: 12px;
}

.classi-menu{
    font-weight: bold;
    padding: 12px;
    font-size: 14px;
}


.avatar{
    height: 24px;
}

.avatar img{
    max-height: 100%;
    margin-right: 10px;
}

.classi{
    font-weight: lighter;
}

.stato{
    color: white;
    font-size: 14px;
    padding: 2px 0;
    border-radius: 8px;
    text-align: center;
}

.g{
    background-color: #008653
}

.y{
    background-color: #ffbf00;
}

.r{
    background-color: #f42237;
}

.fa-pencil{
    color: #697275;
    border: 2px solid #697275 ;
    border-radius: 6px;
    padding: 4px;
}

.fa-trash-can{
    color: #697275;
    border: 2px solid #697275 ;
    border-radius: 6px;
    padding: 4px;
}

.fa-pencil:hover{
    background-color: #b9b9b9b9;
}

.fa-trash-can:hover{
    background-color: #b9b9b9b9;
}

/* f.a.q. */

.faq {
    font-size: 14px;
}

.accordion-button{
    font-size: 16px;
}

/* todo */

.todo{
    font-size: 14px;
}

/* grafico */

.grafico{
    width: 100%;
}

.grafico img{
    max-width: 100%;
}

.utenti{
    font-size: 14px;
}